:root {
    --primaryTextColor: #212121;
    --secondTextColor: #757575;
    --thirdTextColor: #ffffff;
    --textColorLogo: #000000;
    --colorOnMouseOver: #2196F3;
    --bgColor: #ffffff;
    --secondBgColor:  #2F303A;
    --thirdBgColor: #F5F4FA;
    --projectBgColor: #EEEEEE;
  }
  