:root {
  --primaryTextColor: #212121;
  --secondTextColor: #757575;
  --thirdTextColor: #ffffff;
  --textColorLogo: #000000;
  --colorOnMouseOver: #2196f3;
  --bgColor: #ffffff;
  --secondBgColor: #2f303a;
  --thirdBgColor: #f5f4fa;
  --projectBgColor: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  font-family: "Roboto", sans-serif;
}
h1{
  font-family: "Roboto", sans-serif;
}
button{
  font-family: "Roboto", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
}
p{
  font-family: "Roboto", sans-serif;
}