:root {
  --primaryTextColor: #212121;
  --secondTextColor: #757575;
  --thirdTextColor: #ffffff;
  --textColorLogo: #000000;
  --colorOnMouseOver: #2196f3;
  --bgColor: #ffffff;
  --secondBgColor: #2f303a;
  --thirdBgColor: #f5f4fa;
  --projectBgColor: #eeeeee;
}
/* //-----Studio-----// */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primaryTextColor);
}
/* a[class=nav-link]{
  font-weight: 500;
}
a[class=header-contacts-link] {
  font-weight: 500;
}
h1{
  font-weight: 900;
  font-size: 44px;
}
button{
  font-weight: 700;
  font-size: 16px;
}
h2[class=feature-title] {
  font-weight: 700;
}
h2[class=activity-title] {
 font-weight: 700;
 font-size: 36px;
}
h2[class=team-title] {
  font-weight: 700;
  font-size: 36px;
}
h2[class=teammate-name] {
  font-weight: 500;
  font-size: 16px;
}
p[class=teammate-role] {
  font-size: 16px;
} */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.nav-link:hover {
  color: var(--colorOnMouseOver);
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 65px;
}
.header-contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--secondTextColor);
}
.header-contacts-link:hover {
  color: var(--colorOnMouseOver);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondBgColor);
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--thirdTextColor);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--thirdTextColor);
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.feature-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
}
.feature-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondTextColor);
}
.activities {
  padding-bottom: 94px;
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.activities-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--thirdBgColor);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.teammate-photo {
  width: 270px;
  height: 260px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.teammate-role {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondTextColor);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondBgColor);
}
.footer-contacts-item {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--thirdTextColor);
}
/* //-----Portfolio-----//  */
.header {
  padding-top: 32px;
  padding-bottom: 94px;
}
.portfolio {
  font-size: 16px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--colorOnMouseOver);
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondTextColor);
}
.header-contacts-link:hover {
  color: var(--colorOnMouseOver);
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter-button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}
.portfolio-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-project-filter {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondTextColor);
}
.footer {
  padding-bottom: 57px;
  background-color: var(--secondBgColor);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-contacts-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--thirdTextColor);
}
